.google-maps {
    position: relative;
    padding-bottom: 75%; 
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/* etiqueta html */
header{
    padding: 1rem;
}

.video-box {

    margin: 1rem;
    border: solid 0px dimgray;
    display: inline;
}

/* clase */
.iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/* id */
#icono-3
{

    width: 30px;
    height: 30px;
    position:center;
}

#imagen-aboutus{
    padding: 1rem;
    /* background: url('desarrollo/equipo.jpg') no-repeat; */
    /* background-size: cover; */
    /* position: relative; */
    /* left: 25%; */
    /* display: flex; */
    /* flex-flow: row; */
    border: solid 0.1rem dimgray;
    width: 20%;
    height: 20%;
    margin: 1rem;
}